.category {
    margin-bottom: 8rem;
    margin-top: 5rem;
    z-index: 100;

    @include md {
        height: auto;
        margin-bottom: 0rem;
    }

    &__services {
        background-color: #efefef;
        border-radius: 0 25em 25em 0;
        background-position-x: -30em;
        background-size: 80%;


        @include md {
            height: auto;
            background-size: 80%;
        }
    }

    &__services-list {
        list-style: none;
        font-size: 2rem;
        margin-top: 4rem;

        @include md {
            margin-top: 2rem;
            font-size: 1.8rem;
        }

        @include sm {
            margin-top: 1.5rem;
        }


    }

    &__services-list li {
        margin-top: .8rem;
    }

    &__services-list li:before {
        content: '';
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        background-image: url(../img/icon-services.png);
        background-size: contain;
        margin-right: 1rem;
    }

    &__services-description {
        padding-top: 5.5em;
        padding-bottom: 3.5em;

        @include md {
            padding-top: 3em;
            padding-bottom: 3em;
        }

        @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__cta {
        background-image: url(../img/dog-bg.svg);
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position-x: 3rem;

        @include md {
            margin-top: 4rem;
            height: 40rem;
            background-size: 25%;
            background-position-x: 20%;

        }

        @include sm {
            height: 20rem;
            background-size: 18%;
            background-position-x: 15%;

        }

        &>* {
            margin-bottom: 3rem;
        }
    }

}